
    .about{
    width: 100%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    line-height: 50px;
}
@media  screen and (max-width:1500px) {
   .about{ 
    line-height: 30px;
    font-size: 20px;
   }
}
@media screen and (max-width:1000px){
    .about{
        line-height: 30px;
        font-size: 20px;
    }
}